* {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(240, 240, 240);
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
    color: black;
}

#topbar {
    position: fixed;
    height: 40px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
}

#bottombar {
    position: fixed;
    width: 100%;
    bottom: 0px;
    left: 0px;
    background-color: rgb(255, 255, 255);
    border: 0px;
    border-top: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    font-size: 13px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

#topbar button {
    border: none;
    background-color: rgb(255, 255, 255);
    height: 40px;
    float: left;
    padding: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: all ease 0.3s;
    font-size: 13px;
}

#topbar button:hover {
    background-color: rgb(240, 240, 240);
}

#right {
    float: right;
}

#icon {
    height: 30px;
    width: 30px;
    float: left;
    padding: 5px;
}

#content {
    background-color: rgb(220, 220, 220);
    padding-top: 48px;
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(180, 180, 180);
    height: 315px;
}

.screenshot {
    position: absolute;
    top: 45px;
    left: calc(50% - 250px);
    width: 500px;
    text-align: center;
    filter: blur(3px);
}

#info {
    position: absolute;
    top: 150px;
    left: calc(50% - 250px);
    width: 500px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 5px rgb(170, 170, 170);
}

#download {
    width: 180px;
    height: 40px;
    border: none;
    background-color: rgb(255, 255, 255);
    float: left;
    padding: 10px;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    transition: all ease 0.3s;
    font-size: 13px;
    border: solid;
    border-width: 1px;
    border-color: rgb(190, 190, 190);
    border-radius: 5px;
    margin-top: 8px;
    position: absolute;
    left: calc(50% - 90px);
}

#download:hover {
    background-color: rgb(230, 230, 230);
}

#download:disabled {
    color: rgb(190, 190, 190);
    cursor: not-allowed;
}

.icon {
    height: 28px;
    width: 28px;
    padding: 0px;
    padding-right: 1px;
    filter: brightness(1.5);
}