/*border*/
body {
    font-family: sans-serif;
}
/*topbar*/
#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background: #111111;
    padding:0px;
}
.btn {
    font-family: sans-serif;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 14px;
    color: #ffffff;
}
.btn:hover {
    border-bottom: solid;
    border-bottom-color: #34aa2f;
    border-bottom-width: 3px;
}
#logo {
    margin-left: 5px;
    height: 50px;
    cursor: pointer;
}
#size {
    position: fixed;
    top: 16px;
    left: 210px;
}
#content {
    padding-left: 20px;
    position: absolute;
    top: 50px;
}
/*style*/
.a {
    color: #34aa2f;
}
.button {
    margin-top: 10px;
    border: solid;
    border-width: 3px;
    color: #fff;
    background-color: #34aa2f;
    border-bottom-color: #2c9729;
    border-right-color: #2c9729;
    border-top-color: #70e06c;
    border-left-color: #70e06c;
    cursor: pointer;
    border-radius: 0px;
    padding: 8px;
}
.downloads {
    position: absolute;
    border-spacing: 0px;
    border: solid;
    border-width: 1px;
    border-bottom-width: 2px;
}
.th {
    border: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    padding: 3px;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
}