.link {
    color: #34aa2f;
}
.button {
    margin-top: 10px;
    border: solid;
    border-width: 3px;
    color: #fff;
    background-color: #34aa2f;
    border-bottom-color: #2c9729;
    border-right-color: #2c9729;
    border-top-color: #70e06c;
    border-left-color: #70e06c;
    cursor: pointer;
    border-radius: 0px;
    padding: 8px;
}
.downloads {
    position: absolute;
    border-spacing: 0px;
    border: solid;
    border-width: 1px;
    border-bottom-width: 2px;
}
.list {
    border: solid;
    border-color: #dfdfdf;
    border-width: 1px;
    padding: 3px;
    text-align: left;
    padding-left: 5px;
    font-weight: normal;
}
