body {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 100vh;
    background: url('../img/Minecraft.jpg');
    background-position: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}
h1 {
    position: relative;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    color: rgb(255, 255, 255);
    font-size: 100px;
    text-shadow: 0px 2px 3px rgb(207, 207, 207);
}
button {
    font-family: Helvetica, sans-serif;
    cursor: pointer;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    top: 45%;
    transform: translate(0px, -50%);
    max-width: 100%;
    font-size: 15px;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    background: rgb(228, 228, 228);
    border-color: rgb(158, 158, 158);
    color: black;
}
#download {
    background: rgb(32, 151, 72);
    border-color: rgb(25, 122, 57);
    font-size: 15px;
    padding: 13px;
    padding-left: 25px;
    padding-right: 70px;
    color: white;
}
#cloud {
    position: absolute;
    top: 0px;
    left: calc(100% - 46px);
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: rgb(28, 131, 62);
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 11px;
}
img {
    filter: invert(1);
    width: 25px;
}