<header class="page-header" role="banner">
   <div style="position: fixed; top: 0px; left: 0px; height: 50px; width: 100%; background: #111111; padding:0px">
      <img id="logo" onclick="size('./')" src="files/logo.png">
      <div id="size">
         <a class="btn" onclick="size('index')">Home</a>
         <a class="btn" onclick="size('client')">Client</a>
         <a class="btn" onclick="size('about')">About</a>
      </div>
   </div>
</header>
<main id="content" class="main-content" role="main">
   {{ content }}
   <footer class="site-footer">
      Copyright ZeroZipp 2021 all rights reserved.
   </footer>
</main>
