<html>
  <head>
    {% seo %}
    <title>ZeroZipp</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/index.js"></script>
    {% include head-custom.html %}
  </head>
  <body>
    <div id="content">
      <div class="top">
        <h1 class="title">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
        <h2 class="subtitle">{{ page.description | default: site.description | default: site.github.project_tagline }}</h1>
      </div>
	  {{ content }}
    </div>
    <div id="topbar">
      <h1 id="title">ZeroZipp</h1>
      <button class="menu" onclick="link('/bypackt')">Bypackt</button>
      <button class="menu" onclick="link('/mods')">Mods</button>
      <button class="menu" onclick="link('/')">Home</button>
    </div>
  </body>
</html>